body {
    text-wrap: balance;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

p, li {
    text-wrap: pretty;
    max-width: 65ch;
}


#picture1 {
    max-width: 300px;
    height: auto;
}

#container-google-searches {
    width: auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
}