body {
    text-wrap: balance;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

p, li {
    text-wrap: pretty;
    max-width: 65ch;
}

#searchOptions {
    display: block;
    text-align: right;
    margin: 2px solid black;
    margin-right: 0;
}

.search-bar-size {
    max-width: 65ch;
}

.searchLinks {
    background-color: hsl(0, 22%, 85%);
    padding: 10px;
    margin:auto 0 auto auto;
    border: 2px solid white;
    max-width: 30ch;
}

a {
    text-align: center;
    color: blueviolet;
}


#picture1 {
    max-width: 300px;
    height: auto;
}

.form-control {
    border-radius: 20px;
    padding: 10px;
}

#container-google-searches {
    width: auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
}

#googleSearch{
    width: 300px;
    margin: auto;
}

.btn {
    margin: 10px;
}
.searchPosition, .searchPosition>form>input, .searchPosition>h1{
    text-align: center;
    display: block;
    margin: auto;
}

.searchPosition>h1{
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 2.5;
    font-weight: bolder;
    margin-bottom: 10px;
    font-style: italic;
    padding: 10px;
    color: hsl(202, 38%, 58%);
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.asearch {
    margin-left: 0px;
}


@media (max-width: 600px) {

}